[CHARMe]
#charme node: [https://charme-test.cems.rl.ac.uk| https://charme-dev.cems.rl.ac.uk| https://charme.cems.rl.ac.uk]
CHARME_NODE=https://charme-test.cems.rl.ac.uk
#cmsaf client_id: [cmsaf.eu=8f11bcf6616cb078720e|cmsaf-preview.bvbs.bund.de=f1d9c67243269d1d67f8]
CMSAF_CLIENT_ID=8f11bcf6616cb078720e
#TOKEN (alias OA_TOKEN)
TOKEN=525b4c879a52148fb5da37f70c58d8645cb501c6
EXPIRES_AT=1430408888